@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1F2E35;
}

ul {
    padding: 0;
    margin: 0;
}

.navbar {
    nav {
        display: none;
    }

    .login-primary {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
        padding: .8em 1.6em;
    }

    .logo {
        img {
            vertical-align: middle;
        }
    }
    
    .mobile-menu {
        cursor: pointer;
    }
}

section.hero {
    background-color: white;
    background-image: url('/img/background_mobile.png');
    padding: 2em 1.6em 5em 1.6em;
    background-size: 100% 100%;

    h1 {
        color: white;
        font-size: 36px;
        text-align: center;
        font-weight: 600;
        line-height: calc(56 / 36 * 100%);

        span {
            color: #0086D6;
        }
    }

    p {
        color: white;
        font-size: 18px;
        line-height: 153.5%;
        text-align: center;
    }
}

section.growing-section {
    padding: 4em 1.6em 4em 1.6em;
    background-color: white;

    h1 {
        color: #333E44;
        font-size: 32px;
        letter-spacing: 0.2px;
        line-height: calc(46 / 32 * 100%);
        text-align: center;
    }

    p {
        margin-top: 1.5em;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        color: #475E69;
        text-align: center;
    }

    img {
        margin-top: 3.5em;
        width: 100%;
    }
}

section.team {
    background-color: white;

    h2 {
        font-weight: 600;
        font-size: 36px;
        letter-spacing: 0.2px;
        line-height: 41px;
        color: #333E44;
        text-align: center;
    }

    p {
        font-size: 18px;
        color: #475E69;
        font-weight: 400;
        line-height: 150%;
        line-height: 27px;
        text-align: center;
        margin-top: 1em;
        margin-right: 1em;
        margin-left: 1em;
    }

    li {
        text-align: center;
        padding: 2.5em 2em;
        list-style-type: none;

        h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: .2px;
        }

        p:first-of-type {
            color: #0086D6;
            font-size: 1em;
            letter-spacing: .2px;
            margin-top: .5em;
        }

        p {
            font-size: 16px;
            line-height: 27px;
            letter-spacing: .2px;
        }

        a {
            font-size: 14px;
            letter-spacing: .2px;
            line-height: 24px;
            text-decoration: none;
            color: #1F2E35;
            font-weight: 500;
        }
    }

    .link {
        a {
            &:hover {
                color: white;
                background-color: #1F2E35;
                border-radius: 5px;
            }
        }
    }
}

section.subscribe {
    background-color: #1F2E35;
    padding: 2em 1em;
    text-align: center;

    h2 {
        color: white;
        font-size: 36px;
        letter-spacing: .2px;
        line-height: 32px;
    }

    p {
        font-size: 1em;
        letter-spacing: .2px;
        line-height: 27px;
        color: white;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    input {
        display: block;
        border-radius: 4px;
        margin: 0 auto;
        padding: 1em;
        width: 75%;
        border: none;
    }

    button {
        background-color: #0086D6;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: .3px;
        padding: .6em;
        border: none;
        width: 7.5em;
        margin-top: 1em;
        margin-bottom: 2em;

        &:hover {
            color: #0086D6;
            background-color: white;
        }
    }
}

footer {
    background-color: #1F2E35;

    .logo {
        display: flex;
        text-decoration: none;
        align-items: center;
        
        &::after {
            content: 'Gear';
            color: #F4F4F4;
            font-size: 28px;
            line-height: 35px;
            font-weight: 700;
            margin-left: .5em;
            font-family: 'Montserrat Alternates', sans-serif;
        }
    }

    .social-media {
        margin-top: 1.5em;
        display: flex;
        column-gap: 1em;

        a {
            img {
                &:hover {
                    box-shadow: 0 0 0 2px #0086D6;
                    border-radius: 4px;
                }
            }
        }
    }

    li {
        text-align: left;
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(auto, 1fr);

        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: white;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 1em;
            line-height: 35px;

            &:hover {
                color: #0086D6;
            }
        }

        p {
            color: white;
            font-size: 1em;
            line-height: 35px;
        }
    }

    ul {
        display: grid;
        grid-template-rows: repeat(auto, 1fr);
        margin: 0 1em 1.5em;
        row-gap: 1.5em;
    }

    .bottom {
        display: block;
        text-align: center;
        background-color: #1D292F;

        p {
            font-size: 1em;
            line-height: 30px;
            color: white;
            padding: .7em 0;
        }
    }
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0086D6;
    width: 65%;
    height: 100vh;
    z-index: 999;
    padding: 1em;

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #1F2E35;
        text-align: right;
        display: block;
        font-size: 1.3em;
        padding: 0.5em;

        &:hover {
            font-weight: bold;
        }
    }

    img {
        float: right;
        margin: 0.5em;
        cursor: pointer;
    }

    .nav {
        margin-top: 5em;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit, .login {
        display: none;
    }

    .navbar .container {
        padding: 2em 5em;
        align-items: center;
    }

    .navbar nav {
        display: flex;
        justify-content: space-evenly;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: white;
            padding: .1em 1em;
            line-height: calc(32 / 18 * 100%);
            font-size: 18px;
            font-weight: 400;

            &:hover {
                color: #0086D6;
            }
        }

        .nav {
            margin: 0;
        }
    }

    .navbar .login-primary {
        display: flex;
        text-decoration: none;
        color: white;
        line-height: 19.5px;
        font-weight: 400;
        letter-spacing: 0.2px;
        padding: .6em 1em;
        font-size: 18px;
        background-color: #0086D6;
        border-radius: .5em;
        align-self: center;

        &:hover {
            color: #0086D6;
            background-color: white;
        }
    }

    section.hero {
        background-image: url('/img/hero_background.png');
        background-repeat: no-repeat;
        padding: 2em 20% 5em;

        p {
            padding: 0 10%;
        }
    }

    section.growing-section {
        h1 br {
            display: none;
        }

        p {
            padding: 0 25%;
        }

        img {
            padding: 0 20%;
        }
    }

    footer {
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
            margin: 0 5em 1.5em;
            justify-items: center;
        }
    }
}

@media only screen and (min-width: 1024px) {
    section.hero {
        background-image: url('/img/hero_background_drawing.png'), url('/img/hero_background.png');
        background-position: 0 -20px, 0;
    }

    section.team {
        li {
            padding: 0;
            align-self: center;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 4em 5em;
            column-gap: 2em;
        }
    }

    section.subscribe {
        input {
            display: unset;
            width: 25%;
        }

        button {
            margin: 0 0 0 .7em;
            padding-top: .7em;
            padding-bottom: .7em;
        }
    }
}